[run]
omit =
    */migrations/*
    */tests/*
    manage.py
    eventmanagementproject/wsgi.py

[report]
exclude_lines =
    pragma: no cover
    def __str__
    def __repr__

[html]
directory = coverage_html_report
